        RUN @_TITLE_@ (ID: @_RUN-ID_@) HAS COMPLETED
        ---------------------------
        
Dear @_USER_@,
              
your Welsh Social Care Simulation Model Run "@_TITLE_@" (ID: @_RUN-ID_@) 
has completed.

To view the output, please log back in to the model site and select 
'display' for run @_RUN-ID_@


regards,


Graham Stark <graham.stark@virtual-worlds.biz>
Howard Reed <howard@landman-economics.com>

