@charset "utf-8";
/* CSS Document */


#csstopmenu{
	padding: 0;
	list-style: none;
	margin: 0px 0px 0px 160px;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
#csstopmenu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

#csstopmenu li{
	float: left;
	z-index: 2000;
	position: relative;
	padding: 5px 20px 0px 20px;
}

#csstopmenu a{
	z-index: 2000;
	text-decoration: none;
	
	padding-top: 3px;

}

#csstopmenu li:hover, #csstopmenu .current_page_item {
	background: #D2232B;
	text-decoration: none;
}


.mainitems a:hover {
	color: #e1e1e1;
}

.mainitems{
	z-index: 2000;
	color: #FFFFFF;
	height: 30px;
}
.headerlinks {
	height: 20px;
	padding-top: 3px;
}
.headerlinks a{
	z-index: 2000;
	margin: auto 8px;
	color: #FFFFFF;
	font-weight: bold;
	height: 20px;
}

.submenus{
	z-index: 999;
	display: none;
	/*width: 15em;*/
	position: absolute;
	top: 30px;
	left: 0;
	margin-left: 0px;
	border-top: solid 1px #CC0000;
	border-left: solid 1px #CC0000;
	border-right: solid 1px #CC0000;
	padding: 0;
}

#csstopmenu .submenus li{
	z-index: 999;
	color: black;
	font-weight: normal;
	background-color: #FFFFFF;
	padding: 0px;
	text-align: left;	
	border-bottom: solid 1px #CC0000;
	width: 15em;
}

.submenus li a {
	z-index: 999;
	display: block;
	/*text-indent: 3px;*/
	color: #CC0000;
	font-weight: normal;
	padding: 0 5px 5px 10px;
}

html>body .submenus li a{ /* non IE browsers */
	width: auto;
	z-index: 999;
}

.submenus li a:hover{
	z-index: 999;
	background-color: #D2232B;
	color: #FFFFFF;
}

#csstopmenu li>ul {/* non IE browsers */
	/*top: auto;
	left: auto;*/
	z-index: 999;
}

#csstopmenu li:hover ul, li.over ul {
	display: block;
	z-index: 999;
}

html>body #clearmenu{ /* non IE browsers */
	height: 3px;
	z-index: 999;
}